body {
    --lightGreen: #75bc97;
    --darkGreen: #15573f;
    --orange: #fd9872;
    --white: #fff;
    --gray100: #f2f2f2;
    --gray200: #a8a8a8;
    --gray300: #A9A9A9;
    --gray500: #797979;

    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    .header {
        position: relative;
        height: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
        &--background {
            height: 100%;
            width: 100%;
            position: absolute;
            z-index: -1;
            display: flex;
            background: var(--lightGreen);
            &__leftLeaves {
                content: url("images/hero/desktop/left-leaves.png");
                position: absolute;
                width: 862px;
                height: 500px;
                left: 0px;
                top: 0px;
            }
            &__plantPerson {
                content: url("images/hero/desktop/plantperson.png");
                position: absolute;
                width: 335px;
                height: 428px;
                left: 800px;
                top: 36px;
            }
            &__rightLeaves {
                content: url("images/hero/desktop/right-leaves.png");
                position: absolute;
                width: 361px;
                height: 500px;
                left: 1079px;
                top: 0px;
            }
        }
        &--text {
            display: flex;
            flex-direction: column;
            width: 400px;
            margin: 50px 288px;
            &__logo {
                width: 180px;
            }
            &__title {
                font-size: 70px;
                color: var(--white);
                margin: 30px 0;
            }
            &__arrowDown {
                width: 35px;
            }
        }
    }
    .main {
        width: 100%;

        &--searchFilters {
            width: 100%;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            &__form {
                display: flex;
                justify-content: center;
                &--sun,
                &--water,
                &--pets {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 240px;
                    border: none;
                    &__icon {
                        width: 75px;
                        height: 75px;
                        margin-bottom: 15px;
                    }
                    &__label {
                        margin-bottom: 30px;
                        font-size: 14px;
                        color: var(--gray500);
                    }
                    &__select {
                        width: 100%;
                        height: 40px;
                        border-radius: 20px;
                        color: var(--gray200);
                        padding-left: 18px;
                    }
                }
                &--sun,
                &--water {
                    margin-right: 100px;
                }
                &--water {
                    &__icon {
                        width: 103px;
                        transform: scaleX(-1);
                    }
                }
                &--pets {
                    &__icon {
                        height: 65px;
                    }
                }
            }
        }
        &--results {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 75px 0;
            background: var(--gray100);
            &__noResultText {
                width: 440px;
                color: var(--gray300);
                margin-right: 110px;
                &--title {
                    font-size: 45px;
                }
                &--subtitle {
                    font-size: 16px;
                    width: 220px;
                    font-weight: normal;
                }
            }
        }
    }

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        .header {
            position: relative;
            &--background {
                position: absolute;
            }
            &--logo {
            }
            &--title {
            }
            &--arrowDown {
            }
        }
    }
}
