body {
    --green100: #75bc97;
    --green200: #1e6b4e;
    --green300: #196146;
    --green400: #15573f;
    --orange: #fd9872;
    --white: #fff;
    --gray100: #f2f2f2;
    --gray200: #a8a8a8;
    --gray300: #a9a9a9;
    --gray500: #797979;
    --frameSidePadding: 20%;

    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    .header {
        position: relative;
        height: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
        &--background {
            height: 100%;
            width: 100%;
            position: absolute;
            z-index: -1;
            display: flex;
            background: var(--green100);
            &__leftLeaves {
                content: url("images/hero/desktop/left-leaves.png");
                position: absolute;
                width: 60%;
                height: 500px;
                left: 0px;
                top: 0px;
            }
            &__plantPerson {
                content: url("images/hero/desktop/plantperson.png");
                position: absolute;
                width: 335px;
                height: 428px;
                left: 55%;
                top: 36px;
            }
            &__rightLeaves {
                content: url("images/hero/desktop/right-leaves.png");
                position: absolute;
                width: 20%;
                height: 500px;
                right: 0;
                top: 0px;
            }
        }
        &--text {
            display: flex;
            flex-direction: column;
            width: 400px;
            margin: 50px 0;
            padding: 0 var(--frameSidePadding);
            &__logo {
                width: 180px;
            }
            &__title {
                font-size: 70px;
                color: var(--white);
                margin: 30px 0;
            }
            &__arrowDown {
                width: 35px;
            }
        }
    }
    .main {
        width: 100%;

        &--searchFilters {
            height: 300px;
            padding: 0 var(--frameSidePadding);
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &__form {
                width: 100%;
                display: flex;
                justify-content: space-between;
                &--sun,
                &--water,
                &--pets {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 240px;
                    border: none;
                    &__icon {
                        width: 75px;
                        height: 75px;
                        margin-bottom: 15px;
                    }
                    &__label {
                        margin-bottom: 30px;
                        font-size: 14px;
                        color: var(--gray500);
                    }
                    &__select {
                        width: 100%;
                        height: 40px;
                        border-radius: 20px;
                        color: var(--gray200);
                        padding-left: 18px;
                    }
                }

                &--water {
                    &__icon {
                        width: 103px;
                        transform: scaleX(-1);
                    }
                }
                &--pets {
                    &__icon {
                        height: 65px;
                    }
                }
            }
        }
        &--results {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background: var(--gray100);
            padding: 75px var(--frameSidePadding);

            &__noResultText {
                width: 440px;
                color: var(--gray300);
                &--title {
                    font-size: 45px;
                }
                &--subtitle {
                    font-size: 16px;
                    width: 220px;
                    font-weight: normal;
                }
            }
            &__container {
                display: none;
                &--icon {
                    width: 160px;
                    height: 80px;
                }
                &--title {
                    font-size: 55px;
                }
                &--scrollToTopBtn {
                    color: var(--green300);
                    border-radius: 25px;
                    border: 1px solid var(--green300);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    padding: 12px;
                    margin-top: 60px;
                    &:hover {
                        color: white;
                        background: var(--green400);
                        path {
                            stroke: var(--white);
                        }
                    }
                    &__arrow {
                        margin-right: 16px;
                        width: 12px;
                    }
                }
                &--plants {
                    &__wrapper {
                        &--slides {
                            display: grid;
                            grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr) minmax(
                                    200px,
                                    1fr
                                );
                            grid-auto-rows: 245px;
                            gap: 25px 25px;

                            &__plant,
                            .highlightedElement {
                                position: relative;
                                background: var(--white);
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                                grid-auto-rows: 6fr 1fr 1fr;
                                gap: 0px 0px;
                                padding: 20px;
                                box-sizing: border-box;
                                grid-template-areas:
                                    "image image"
                                    "title title"
                                    "price icons";
                                align-items: center;
                                
                                &--staffFavourite {
                                    &__big, &__small{
                                        position: absolute;
                                        top: 31px;
                                        left: 0;
                                        width: 200px;
                                        height: 43px;
                                        background: var(--green100);
                                        border-bottom-right-radius: 25px;
                                        border-top-right-radius: 25px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        font-size: 18px;
                                        color: var(--white);
                                        font-weight: bold;
                                    }

                                    &__small{
                                        top: 15px;
                                        width: 120px;
                                        height: 30px;
                                        font-size: 13px;
                                    }
                                }
                                .plantImage {
                                    grid-area: image;
                                    justify-self: center;
                                    align-self: center;
                                    height: 100%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    img {
                                        width: 80%;
                                        max-height: 160px;
                                    }
                                }
                                .plantName {
                                    grid-area: title;
                                    justify-self: start;
                                    align-self: center;
                                    color: var(--green200);
                                    margin: 0;
                                    margin-bottom: 10px;
                                }
                                .plantPrice {
                                    color: var(--green200);
                                    grid-area: price;
                                    font-weight: bold;
                                    justify-self: start;
                                }
                                .plantIcons {
                                    grid-area: icons;
                                    display: flex;
                                    justify-content: space-between;
                                    img {
                                        height: 15px;
                                        &:not(last-child) {
                                            margin: 5px;
                                        }
                                    }
                                }
                            }

                            .highlightedElement {
                                grid-auto-rows: 7fr 1fr 1fr;
                                grid-column: 1 / span 2;
                                grid-row: 1 / span 2;
                                grid-template-areas:
                                    "image image"
                                    "title price"
                                    "title icons";
                                .plantImage {
                                    img {
                                        width: 100%;
                                        max-height: 350px;
                                    }
                                }
                                .plantName {
                                    font-size: 35px;
                                    margin: 0;
                                }
                                .plantPrice {
                                    justify-self: end;
                                    font-size: 24px;
                                }
                                .plantIcons {
                                    justify-content: flex-end;
                                    img {
                                        height: 25px;
                                        &:not(last-child) {
                                            margin: 5px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        --frameSidePadding: 10%;

        .header {
            height: 570px;
            &--background {
                &__leftLeaves {
                    content: url("images/hero/mobile/mobile-leaves.png");
                    width: 100%;
                    height: 400px;
                    left: 0px;
                    top: 0px;
                    z-index: 2;
                }
                &__plantPerson {
                    content: url("images/hero/mobile/mobile-plantperson.png");
                    width: 276px;
                    height: 234px;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 320px;
                }
                &__rightLeaves {
                    display: none;
                }
            }
            &--text {
                box-sizing: border-box;
                width: 100%;
                &__title {
                    font-size: 40px;
                    color: var(--white);
                    margin: 30px 0;
                }
            }
        }
        .main {
            &--searchFilters {
                height: auto;
                margin: 18px 0;
                &__form {
                    flex-direction: column;
                    &--sun,
                    &--water {
                        margin-bottom: 50px;
                    }
                    &--sun,
                    &--water,
                    &--pets {
                        width: 100%;
                    }
                }
            }
            &--results {
                flex-direction: column;
                box-sizing: border-box;
                width: 100%;
                padding-top: 0;
                &__noResultText {
                    width: unset;
                    &--subtitle {
                        width: 100%;
                    }
                }
                &__container {
                    --slider-width: 250px;
                    --slider-height: 320px;
                    * {
                        box-sizing: border-box;
                    }
                    margin-top: 30px;
                    &--plants {
                        position: relative;
                        width: var(--slider-width);
                        height: var(--slider-height);
                        &__wrapper {
                            position: relative;
                            width: var(--slider-width);
                            height: var(--slider-height);
                            z-index: 1;
                            &--slides {
                                gap: unset;
                                display: flex;
                                position: relative;
                                top: 0;
                                left: -var(--slider-width);
                                height: var(--slider-height);
                                width: 10000px;
                                &.shifting {
                                    transition: left 0.2s ease-out;
                                }
                                &__plant {
                                    width: var(--slider-width);
                                    height: var(--slider-height);
                                    border: 10px solid var(--gray100);
                                    border-radius: 25px;
                                    cursor: pointer;
                                    transition: all 1s;
                                    position: relative;
                                    img {
                                        height: 100%;
                                        max-height: 200px;
                                    }

                                    &.highlightedElement {
                                        grid-column: unset;
                                        grid-row: unset;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
