@import "variables";

.header {
    position: relative;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    &--background {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
        display: flex;
        background: var(--green100);
        &__leftLeaves {
            content: url("images/hero/desktop/left-leaves.png");
            position: absolute;
            width: 60%;
            height: 500px;
            left: 0px;
            top: 0px;
        }
        &__plantPerson {
            content: url("images/hero/desktop/plantperson.png");
            position: absolute;
            width: 335px;
            height: 428px;
            left: 55%;
            top: 36px;
        }
        &__rightLeaves {
            content: url("images/hero/desktop/right-leaves.png");
            position: absolute;
            width: 20%;
            height: 500px;
            right: 0;
            top: 0px;
        }
    }
    &--text {
        display: flex;
        flex-direction: column;
        width: 400px;
        margin: 50px 0;
        padding: 0 var(--frameSidePadding);
        &__logo {
            width: 180px;
        }
        &__title {
            font-size: 70px;
            color: var(--white);
            margin: 30px 0;
        }
        &__arrowDown {
            width: 35px;
        }
    }
}

@media only screen and (max-width: $mobileThreshold) {
    .header {
        height: 570px;
        &--background {
            &__leftLeaves {
                content: url("images/hero/mobile/mobile-leaves.png");
                width: 100%;
                height: 400px;
                left: 0px;
                top: 0px;
                z-index: 2;
            }
            &__plantPerson {
                content: url("images/hero/mobile/mobile-plantperson.png");
                width: 276px;
                height: 234px;
                left: 50%;
                transform: translateX(-50%);
                top: 320px;
            }
            &__rightLeaves {
                display: none;
            }
        }
        &--text {
            box-sizing: border-box;
            width: 100%;
            &__title {
                font-size: 40px;
                color: var(--white);
                margin: 30px 0;
            }
        }
    }
}
